<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<form action="/sendnotice" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1" placeholder="write here"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="notice_subject"></textarea>
  </div>
    <button>Upload</button>
</form>
</html>