<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="login">
        <form action="/changed_password" method="POST">
            <label for="chk" aria-hidden="true">Enter new Password</label> 
            <input type = "text" name="token_value" value = {{token}} required hidden> 
            <input type="password" name="changed_password" placeholder="Password">
              {{!-- <input type="password" placeholder="Re -Password">    check re enter password here --}}
            <button>Change Password</button>
        </form>
    </div>
</body>
</html>