<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student MIS</title>
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <header id="header" class="header d-flex align-items-center">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1>Student MIS<span>.</span></h1>
        </a>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/fee-structure">Fee Structure</a></li>
            <li>
              <div class="notification-icon">
                <a href="#contact">Notification</a>
                <span class="badge">3</span>

                <div class="notification-box">
                  <p>Notification 1</p>
                  <p>Notification 2</p>
                  <p>Notification 3</p>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>
    </header>
    <!-- End Header -->

    <!--Fee Structure-->
    <div id="table">
      <div
        class="logo_container container-xl d-flex align-items-center justify-content-between"
      >
        <div id="logo">
          <img src="NCIT_LOGO.jpg" alt="#" width="140px"/>
        </div>
        <div id="fee_structure_heading">
          <h2><bold>Nepal College of Information Technology</bold></h2>
          <h3>Balkumari, Lalitpur</h3>
          <h3><i>Fee Structure 2020-2023</i></h3>
        </div>
      </div>
      <table id="customers">
        <tr id="heading">
          <th class="heading">Year</th>
          <th class="heading" width="300px">Semester</th>
          <th class="heading" width="300px">Description</th>
          <th class="heading" width="300px">Amount To Be Paid</th>
          <th class="heading" width="250px">Total</th>
        </tr>

        <!--1st year-->
        <tr>
          <td rowspan="4" align="center">1st year</td>
          <td></td>
          <td align="center"><strong>Security Deposit (Refundable)</strong></td>
          <td align="center">5000</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td align="center">
            <strong>
              Enrollment, Development,<br />
              Library, lab,Internal Exam, <br />Sem Fee (First) etc.
            </strong>
          </td>
          <td align="center">331000</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <strong>At the time of Admission</strong>
          </td>
          <td align="center"><strong>336000</strong></td>
          <td align="center"><strong>During Admission</strong></td>
        </tr>
        <tr>
          <td align="center">2nd</td>
          <td align="center">2nd semester fee</td>
          <td align="center">137614</td>
          <td></td>
        </tr>

        <!--2nd year-->
        <tr>
          <td rowspan="2" align="center">2nd year</td>
          <td align="center">3rd</td>
          <td align="center">3rd semester fee</td>
          <td align="center">125474</td>
          <td></td>
        </tr>
        <tr>
          <td align="center">4th</td>
          <td align="center">4th semester fee</td>
          <td align="center">125474</td>
          <td></td>
        </tr>

        <!--3rd year-->
        <tr>
          <td rowspan="2" align="center">3rd year</td>
          <td align="center">5th</td>
          <td align="center">5th semester fee</td>
          <td align="center">90195</td>
          <td></td>
        </tr>
        <tr>
          <td align="center">6th</td>
          <td align="center">6th semester fee</td>
          <td align="center">90915</td>
          <td></td>
        </tr>

        <!--4th year-->
        <tr>
          <td rowspan="2" align="center">4th year</td>
          <td align="center">7th</td>
          <td align="center">7th semester fee</td>
          <td align="center">135048</td>
          <td></td>
        </tr>
        <tr>
          <td align="center">8th</td>
          <td align="center">8th semester fee</td>
          <td align="center">10000</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2" align="center">
            <strong>Total fee of 4 years</strong>
          </td>
          <td align="center"><strong>1050000</strong></td>
          <td></td>
        </tr>
      </table>
    </div>
  </body>
</html>
