<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../assets/css/generate_form.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">   
      <div class="form">
        <div class="heading">
          <div class="logo"><img src="../assets/img/logo_pu.png" width="120" /></div>
          <div class="title">
            <h1>POKHARA UNIVERSITY</h1>
            <h1>Office of the Controller of Examinations</h1>
            <h3>Application Form</h2>
            <h2 class="line4">Semester/Trimester/yearly Examination</h2>
          </div>
          <div class="image"><img src="../../uploads/profile/{{photo}}" width="120" /></div>
        </div>

        <form action="" class="input_section">
          <div class="first_line">
            <label for="number">Exam Roll No:&nbsp;</label><input class="eroll_no" type="text" readonly value="123456789">
            <label for="text">&nbsp;Exam Center:&nbsp;</label><input class="e_center" type="text">
          </div>
          <div class="second_line">
            <label for="level">Level:&nbsp;</label><input class="level" type="text">
            <label for="program">Program:&nbsp;</label><input class="program" type="text">
          </div>
          <div class="third_line">
            <label for="year">Semester/Trimester/Year:&nbsp;</label><input class="sem" type="number">
            <label for="year">Year:&nbsp;</label><input class="year" type="number">
          </div>
          <!--First_Name   Middle_Name   Last_Name -->
          <div class="fml_name">
            <span><p>First Name</p></span> 
            <span><p>Middle Name</p></span> 
            <span><p>Last Name</p></span>
          </div>
          <table  class="fst_table">
            <tr>
              <td>&nbsp;&nbsp;Name&nbsp;&nbsp;</td><td></td><td></td>
              <td></td><td></td><td></td><td></td><td></td><td></td>
              <td></td><td></td><td></td><td></td><td></td><td></td>
              <td></td><td></td><td></td><td></td><td></td><td></td>
              <td></td><td></td><td></td><td></td><td></td>
            </tr>
          </table>
          <br>
          <table class="snd_table">
            <tr>
              <td id="pu_rno">&nbsp;P.U. Registration No.&nbsp;</td>
              <td></td><td></td><td></td><td></td><td></td><td></td>
              <td></td><td></td><td></td><td></td><td></td><td></td>
              <td></td><td></td><td></td><td></td><td></td>
            </tr>
          </table>

          <div class="coll_name">
            <label for="college_name">Name of the College:&nbsp;</label><span class="c_name"><input  type="text"></span>
            <p>For the appearance in the examination of following courses as per course registered.</p>
          </div>

          <div>
            <h3>Regular Courses</h3>
            <table class="regular_courses">
              <tr>
                <td class="sno">S.No.</td>
                <td class="equal_padding">Course Code</td>
                <td class="course_title">Course Title</td>
                <td class="equal_padding">Credit</td>
                <td class="equal_padding">Remarks</td>
              </tr>
              <tr><td>1</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>2</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>3</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>4</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>5</td><td></td><td></td><td></td><td></td></tr> 
              <tr><td>6</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>7</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>8</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>9</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>10</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>11</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>12</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>13</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>14</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>15</td><td></td><td></td><td></td><td></td></tr>
            </table>
          </div>
          <br>
          <div>
            <h3>Re-registered Courses</h3>
            <table class="regular_courses">
              <tr>
                <td class="sno">S.No.</td>
                <td class="equal_padding">Course Code</td>
                <td class="course_title">Course Title</td>
                <td class="equal_padding">Credit</td>
                <td class="equal_padding">Remarks</td>
              </tr>
              <tr><td>1</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>2</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>3</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>4</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>5</td><td></td><td></td><td></td><td></td></tr> 
              <tr><td>6</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>7</td><td></td><td></td><td></td><td></td></tr>
              <tr><td>8</td><td></td><td></td><td></td><td></td></tr>
            </table>
          </div>
          <br>
          <div class="last">
            <label for="signature">Signature of the Student:&nbsp;</label><input class="signature" type="text">
            <label for="name">&nbsp;Form checked and accepted by:&nbsp;</label><input class="form_checked" type="text">
            <label for="date">&nbsp;Date:&nbsp;</label><input class="date" type="text">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>